<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/stylesheets/<%- session.font %>.css?v=1.0.7">
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
            <h2>Hold on, thinking...</h2>
            <p>Lighthouse is working in the background.</p>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
    </body>
</html>
